:root {
    --dubie-bordo: #C00711;
    --dubie-negro: #000;
    --dubie-blanco: #fff;
    --dubie-gris: #1F232D;
    --dubie-gris-oscuro: #303030;
    --dubie-gris-medio: #54595F;
    --dubie-gris-claro: #f8f8f8;
    --dubie-gris-hover: #d3d3d3;
    --dubie-gris-disabled: #f8f8f8;
    --dubie-texto: #7a7a7a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--dubie-gris-claro);
}

a {
    text-decoration: none;
}

#navbar {
    background-color: var(--dubie-gris);
    color: var(--dubie-blanco);
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 12.5rem;
}

.brandname {
    display: none;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.menu a {
    color: var(--dubie-blanco);
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover {
    color: var(--dubie-gris-hover);
}

#cartwidget {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    color: var(--dubie-blanco);
}

#cartwidget p {
    font-size: 1rem;
}

#itemlistcontainer, .error {
    padding: 2rem 0rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.itemlistcontainer, .error {
    display: flex;
    justify-content: center;
}

.cargando {
    font-weight: 200;
    padding-top: 10rem;
}

.itemlist {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    align-items: start;
    justify-content: center;
}

.item {
    max-width: 14rem;
    background-color: var(--dubie-blanco);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
}

.item img, .itemdetail img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.item h3, .item p, .itemdetail h3, .itemdetail p {
    font-family: 'Roboto', sans-serif;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.precio {
    color: var(--dubie-bordo);
    font-size: 1.4rem;
    font-weight: 600;
}

.stock {
    color: var(--dubie-texto);
    font-weight: 300;
    font-size: .8rem;
}

.itemdetailcontainer {
    padding: 2rem 0rem;
    display: flex;
    gap: 2rem;
    align-items: start;
    justify-content: center;
}

.itemdetail {
    min-width: 46rem;
    max-width: 46rem;
    background-color: var(--dubie-blanco);
    padding: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
}

.itemdetail-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.itemdetail-info h3 {
    font-size: 1.2rem;
}

#itemcount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.btn-restar, .btn-sumar, .btn-apagado {
    min-height: 2.2rem;
    padding: 0rem 1rem;
    background-color: var(--dubie-bordo);
    color: var(--dubie-blanco);
    border: none;
    border-radius: .3rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-apagado {
    background-color: var(--dubie-gris-disabled);
    color: var(--dubie-texto);
    cursor: auto;
}

.btn-detalle, .btn-agregar-al-carrito, .btn-volver, .btn-continuar, .btn-vaciar-carrito, .btn-enviarOrden {
    min-height: 2.2rem;
    padding: 0rem 1rem;
    color: var(--dubie-texto);
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn-detalle:hover, .btn-agregar-al-carrito:hover, .btn-volver:hover, .btn-continuar:hover, .btn-vaciar-carrito:hover, .btn-enviarOrden:hover {
    background-color: var(--dubie-gris-hover);
}

.btn-enviarOrden {
    margin: 1rem 0rem;
}

.btn-vaciar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.btn-volver a {
    color: var(--dubie-texto);
}

.btn-toggle {
    display: flex;
    gap: 1rem;
}

.btn-ir-al-carrito, .btn-finalizar-compra {
    min-height: 2.2rem;
    padding: 0rem 1rem;
    background-color: var(--dubie-bordo);
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn-ir-al-carrito a, .btn-finalizar-compra a {
    color: var(--dubie-blanco);
}

.carrito-vacio {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
}

.contenedor-carrito {
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito {
    max-width: 40rem;
    background-color: var(--dubie-blanco);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
}

.carrito p {
    font-family: 'Roboto', sans-serif;
}

.productodetail {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productodetail li {
    display: flex;
    gap: 2rem;
}

.productodetail img {
    width: 4rem;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.productodetail-nombre {
    font-size: .6rem;
}

.productodetail-icono {
    display: flex;
    align-items: center;
}

.eliminar-producto {
    cursor: pointer;
    color: var(--dubie-bordo);
}

.carritodetail {
    padding-top: 2rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.vaciar-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    background-color: var(--dubie-gris-medio);
}

.checkout {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.orden {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.orden p {
    text-align: center;
}

.orden-generada {
    font-weight: 600;
}

.contenedor-form {
    max-width: 40rem;
    background-color: var(--dubie-blanco);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.1);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form p {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario label {
    padding-bottom: .4rem;
}

.formulario input {
    padding: .6rem;
    margin-bottom: 1rem;
    min-width: 26rem;
    font-family: 'Roboto', sans-serif;
}